##  Imports

In [1]:
import pandas as pd
import requests
import json

# Make a dataframe with Bitcoin and Dogecoin market value for last 30 days vs USD

In [2]:
url_bitcoin = 'https://api.coingecko.com/api/v3/coins/bitcoin/market_chart/range?vs_currency=usd&from=1564099200&to=1566777600'

In [3]:
response = requests.get(url_bitcoin)

In [4]:
response

In [5]:
bitcoin = pd.DataFrame(response.json())
bitcoin.describe

<bound method NDFrame.describe of                                   prices                          market_caps  \
0     [1564099337368, 9878.659976320554]  [1564099337368, 176201148443.30237]
1     [1564102847914, 9725.381861348724]   [1564102847914, 173274132948.5072]
2     [1564106443462, 9716.286269576427]  [1564106443462, 173387099184.40314]
3      [1564110199752, 9696.36331610203]  [1564110199752, 173007305499.28226]
4      [1564113698945, 9715.25537063541]  [1564113698945, 173333378738.65802]
..                                   ...                                  ...
738  [1566759764670, 10075.283452176265]  [1566759764670, 180312934969.44666]
739  [1566763384816, 10073.951909331357]  [1566763384816, 180539162672.45828]
740  [1566766907833, 10015.822544974606]  [1566766907833, 179430221180.97717]
741  [1566770491321, 10024.441796895293]  [1566770491321, 179544836134.80225]
742  [1566774128896, 10189.320115687236]   [1566774128896, 182365642101.3323]

                           total_volumes
0    [1564099337368, 21507584689.813976]
1    [1564102847914, 21345499733.104195]
2    [1564106443462, 20071447878.925583]
3       [1564110199752, 19735030860.173]
4    [1564113698945, 19927249133.150196]
..                                   ...
738    [1566759764670, 17760399859.1851]
739  [1566763384816, 17823349306.767918]
740  [1566766907833, 17725967603.849625]
741  [1566770491321, 18479695946.148212]
742  [1566774128896, 20685886953.698814]

[743 rows x 3 columns]>

In [6]:
bitcoin.columns

Index(['prices', 'market_caps', 'total_volumes'], dtype='object')

In [7]:
bitcoin.head()

,prices,market_caps,total_volumes
0,"[1564099337368, 9878.659976320554]","[1564099337368, 176201148443.30237]","[1564099337368, 21507584689.813976]"
1,"[1564102847914, 9725.381861348724]","[1564102847914, 173274132948.5072]","[1564102847914, 21345499733.104195]"
2,"[1564106443462, 9716.286269576427]","[1564106443462, 173387099184.40314]","[1564106443462, 20071447878.925583]"
3,"[1564110199752, 9696.36331610203]","[1564110199752, 173007305499.28226]","[1564110199752, 19735030860.173]"
4,"[1564113698945, 9715.25537063541]","[1564113698945, 173333378738.65802]","[1564113698945, 19927249133.150196]"

In [8]:
bitcoin['date'] = list(map((lambda x: x[0]), (bitcoin['prices'])))

In [9]:
bitcoin.head()

,prices,market_caps,total_volumes,date
0,"[1564099337368, 9878.659976320554]","[1564099337368, 176201148443.30237]","[1564099337368, 21507584689.813976]",1564099337368
1,"[1564102847914, 9725.381861348724]","[1564102847914, 173274132948.5072]","[1564102847914, 21345499733.104195]",1564102847914
2,"[1564106443462, 9716.286269576427]","[1564106443462, 173387099184.40314]","[1564106443462, 20071447878.925583]",1564106443462
3,"[1564110199752, 9696.36331610203]","[1564110199752, 173007305499.28226]","[1564110199752, 19735030860.173]",1564110199752
4,"[1564113698945, 9715.25537063541]","[1564113698945, 173333378738.65802]","[1564113698945, 19927249133.150196]",1564113698945

In [10]:
bitcoin['prices'] = list(map((lambda x: x[1]), (bitcoin['prices']))) #what if i wanted to do this to the three columns?

In [11]:
bitcoin.head()

,prices,market_caps,total_volumes,date
0,9878.659976,"[1564099337368, 176201148443.30237]","[1564099337368, 21507584689.813976]",1564099337368
1,9725.381861,"[1564102847914, 173274132948.5072]","[1564102847914, 21345499733.104195]",1564102847914
2,9716.286270,"[1564106443462, 173387099184.40314]","[1564106443462, 20071447878.925583]",1564106443462
3,9696.363316,"[1564110199752, 173007305499.28226]","[1564110199752, 19735030860.173]",1564110199752
4,9715.255371,"[1564113698945, 173333378738.65802]","[1564113698945, 19927249133.150196]",1564113698945

In [12]:
bitcoin = bitcoin [['date', 'prices']]
bitcoin.head()

            date       prices
0  1564099337368  9878.659976
1  1564102847914  9725.381861
2  1564106443462  9716.286270
3  1564110199752  9696.363316
4  1564113698945  9715.255371

In [13]:
url_dogecoin = 'https://api.coingecko.com/api/v3/coins/dogecoin/market_chart/range?vs_currency=usd&from=1564099200&to=1566777600'
response = requests.get(url_dogecoin)
dogecoin = pd.DataFrame(response.json())
dogecoin.head()

,prices,market_caps,total_volumes
0,"[1564099328532, 0.0029024811215809638]","[1564099328532, 349708548.25249594]","[1564099328532, 48025515.64129308]"
1,"[1564102839017, 0.0028735925916123645]","[1564102839017, 345941694.40612555]","[1564102839017, 46940717.65886509]"
2,"[1564106433174, 0.002852134564671369]","[1564106433174, 343558882.3073985]","[1564106433174, 46067724.03893317]"
3,"[1564110195652, 0.002876966333648953]","[1564110195652, 347039066.7839264]","[1564110195652, 46075776.77161792]"
4,"[1564113692647, 0.002878374972072562]","[1564113692647, 343856906.8673198]","[1564113692647, 46150239.90178016]"

In [14]:
dogecoin['date'] = list(map((lambda x: x[0]), (dogecoin['prices'])))

In [15]:
dogecoin.head()

,prices,market_caps,total_volumes,date
0,"[1564099328532, 0.0029024811215809638]","[1564099328532, 349708548.25249594]","[1564099328532, 48025515.64129308]",1564099328532
1,"[1564102839017, 0.0028735925916123645]","[1564102839017, 345941694.40612555]","[1564102839017, 46940717.65886509]",1564102839017
2,"[1564106433174, 0.002852134564671369]","[1564106433174, 343558882.3073985]","[1564106433174, 46067724.03893317]",1564106433174
3,"[1564110195652, 0.002876966333648953]","[1564110195652, 347039066.7839264]","[1564110195652, 46075776.77161792]",1564110195652
4,"[1564113692647, 0.002878374972072562]","[1564113692647, 343856906.8673198]","[1564113692647, 46150239.90178016]",1564113692647

In [16]:
dogecoin['prices'] = list(map((lambda x: x[1]), (dogecoin['prices']))) #what if i wanted to do this to the three columns?

In [17]:
dogecoin = dogecoin[['date', 'prices']]
dogecoin.head()

            date    prices
0  1564099328532  0.002902
1  1564102839017  0.002874
2  1564106433174  0.002852
3  1564110195652  0.002877
4  1564113692647  0.002878

In [18]:
dogecoin['date_ms'] = pd.to_datetime(dogecoin['date'], unit = 'ms')
dogecoin.head()

            date    prices                 date_ms
0  1564099328532  0.002902 2019-07-26 00:02:08.532
1  1564102839017  0.002874 2019-07-26 01:00:39.017
2  1564106433174  0.002852 2019-07-26 02:00:33.174
3  1564110195652  0.002877 2019-07-26 03:03:15.652
4  1564113692647  0.002878 2019-07-26 04:01:32.647

In [19]:
bitcoin['date_ms'] = pd.to_datetime(bitcoin['date'], unit = 'ms')
bitcoin.head()

/usr/local/Cellar/ipython/7.6.1/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

            date       prices                 date_ms
0  1564099337368  9878.659976 2019-07-26 00:02:17.368
1  1564102847914  9725.381861 2019-07-26 01:00:47.914
2  1564106443462  9716.286270 2019-07-26 02:00:43.462
3  1564110199752  9696.363316 2019-07-26 03:03:19.752
4  1564113698945  9715.255371 2019-07-26 04:01:38.945

In [20]:
bitcoin['date_ms'][0].year

2019

In [21]:
bitcoin['date_key'] = list(map((lambda x: pd.Timestamp(year=x.year, month=x.month, day=x.day, hour=x.hour)),(bitcoin['date_ms'])))

In [22]:
bitcoin.head()

            date       prices                 date_ms            date_key
0  1564099337368  9878.659976 2019-07-26 00:02:17.368 2019-07-26 00:00:00
1  1564102847914  9725.381861 2019-07-26 01:00:47.914 2019-07-26 01:00:00
2  1564106443462  9716.286270 2019-07-26 02:00:43.462 2019-07-26 02:00:00
3  1564110199752  9696.363316 2019-07-26 03:03:19.752 2019-07-26 03:00:00
4  1564113698945  9715.255371 2019-07-26 04:01:38.945 2019-07-26 04:00:00

In [23]:
dogecoin['date_key'] = list(map((lambda x: pd.Timestamp(year=x.year, month=x.month, day=x.day, hour=x.hour)),(dogecoin['date_ms'])))

In [29]:
dogecoin = dogecoin.rename(columns={'date':'dogecoin_UNIX_TS', 'prices':'dogecoin_price'})
bitcoin = bitcoin.rename(columns={'date':'bitcoin_UNIX_TS', 'prices':'bitcoin_price'})

dogecoin.head()

,dogecoin_UNIX_TS,dogecoin_price,date_ms,date_key
0,1564099328532,0.002902,2019-07-26 00:02:08.532,2019-07-26 00:00:00
1,1564102839017,0.002874,2019-07-26 01:00:39.017,2019-07-26 01:00:00
2,1564106433174,0.002852,2019-07-26 02:00:33.174,2019-07-26 02:00:00
3,1564110195652,0.002877,2019-07-26 03:03:15.652,2019-07-26 03:00:00
4,1564113692647,0.002878,2019-07-26 04:01:32.647,2019-07-26 04:00:00

In [28]:
bitcoin.head()

   bitcoin_UNIX_TS       prices                 date_ms            date_key
0    1564099337368  9878.659976 2019-07-26 00:02:17.368 2019-07-26 00:00:00
1    1564102847914  9725.381861 2019-07-26 01:00:47.914 2019-07-26 01:00:00
2    1564106443462  9716.286270 2019-07-26 02:00:43.462 2019-07-26 02:00:00
3    1564110199752  9696.363316 2019-07-26 03:03:19.752 2019-07-26 03:00:00
4    1564113698945  9715.255371 2019-07-26 04:01:38.945 2019-07-26 04:00:00

In [31]:
bitcoin_dogecoin = bitcoin.merge(dogecoin, on='date_key')

In [32]:
bitcoin_dogecoin.columns

Index(['bitcoin_UNIX_TS', 'bitcoin_price', 'date_ms_x', 'date_key',
       'dogecoin_UNIX_TS', 'dogecoin_price', 'date_ms_y'],
      dtype='object')

In [33]:
bitcoin_dogecoin = bitcoin_dogecoin[['bitcoin_price', 'date_key','dogecoin_price']]
bitcoin_dogecoin.head()

   bitcoin_price            date_key  dogecoin_price
0    9878.659976 2019-07-26 00:00:00        0.002902
1    9725.381861 2019-07-26 01:00:00        0.002874
2    9716.286270 2019-07-26 02:00:00        0.002852
3    9696.363316 2019-07-26 03:00:00        0.002877
4    9715.255371 2019-07-26 04:00:00        0.002878

In [26]:
type(bitcoin['date_ms'][0])

pandas._libs.tslibs.timestamps.Timestamp

# Top Ten Coins Report

## List the first 10 coingecko currencies in a DataFrame

In [54]:
url = 'https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=250&page=1&sparkline=false&price_change_percentage=24h'

In [55]:
response = requests.get(url)

In [56]:
response

In [57]:
currencies = pd.DataFrame(response.json())

In [58]:
currencies.columns

Index(['id', 'symbol', 'name', 'image', 'current_price', 'market_cap',
       'market_cap_rank', 'total_volume', 'high_24h', 'low_24h',
       'price_change_24h', 'price_change_percentage_24h',
       'market_cap_change_24h', 'market_cap_change_percentage_24h',
       'circulating_supply', 'total_supply', 'ath', 'ath_change_percentage',
       'ath_date', 'roi', 'last_updated',
       'price_change_percentage_24h_in_currency'],
      dtype='object')

In [59]:
currencies.head()

,id,symbol,name,image,current_price,market_cap,market_cap_rank,total_volume,high_24h,low_24h,...,market_cap_change_24h,market_cap_change_percentage_24h,circulating_supply,total_supply,ath,ath_change_percentage,ath_date,roi,last_updated,price_change_percentage_24h_in_currency
0,bitcoin,btc,Bitcoin,https://assets.coingecko.com/coins/images/1/la...,10311.470000,184502305101,1,2.261348e+10,10673.830000,9990.11000,...,3.787675e+09,2.09594,1.789812e+07,2.100000e+07,19665.39,-47.56543,2017-12-16T00:00:00.000Z,None,2019-08-26T16:00:48.803Z,2.132930
1,ethereum,eth,Ethereum,https://assets.coingecko.com/coins/images/279/...,188.520000,20264537897,2,7.388140e+09,194.000000,183.66000,...,6.847568e+07,0.33905,1.074819e+08,NaN,1448.18,-86.95546,2018-01-13T00:00:00.000Z,"{'times': 23.42172587576219, 'currency': 'btc'...",2019-08-26T16:00:51.255Z,0.222511
2,ripple,xrp,XRP,https://assets.coingecko.com/coins/images/44/l...,0.270181,11595223451,3,1.429245e+09,0.278334,0.26708,...,6.791793e+06,0.05861,4.290954e+10,1.000000e+11,3.40,-92.03992,2018-01-07T00:00:00.000Z,None,2019-08-26T16:00:39.265Z,0.042662
3,bitcoin-cash,bch,Bitcoin Cash,https://assets.coingecko.com/coins/images/780/...,308.790000,5547498517,4,1.608578e+09,314.640000,301.84000,...,7.347183e+07,1.34219,1.796855e+07,2.100000e+07,3785.82,-91.83870,2017-12-20T00:00:00.000Z,None,2019-08-26T16:00:26.923Z,1.352396
4,litecoin,ltc,Litecoin,https://assets.coingecko.com/coins/images/2/la...,73.470000,4637720084,5,2.869340e+09,74.990000,70.89000,...,5.449213e+07,1.18895,6.311781e+07,8.400000e+07,360.66,-79.61576,2017-12-18T00:00:00.000Z,None,2019-08-26T16:00:45.956Z,1.170753

In [61]:
currencies = currencies[(currencies['market_cap_rank'] < 11)]

In [62]:
currencies = currencies [['id', 'symbol', 'name', 'market_cap_rank', 'market_cap']]

             id symbol          name  market_cap_rank    market_cap
0       bitcoin    btc       Bitcoin                1  184502305101
1      ethereum    eth      Ethereum                2   20264537897
2        ripple    xrp           XRP                3   11595223451
3  bitcoin-cash    bch  Bitcoin Cash                4    5547498517
4      litecoin    ltc      Litecoin                5    4637720084

In [63]:
currencies.head(11)

                id symbol          name  market_cap_rank    market_cap
0          bitcoin    btc       Bitcoin                1  184502305101
1         ethereum    eth      Ethereum                2   20264537897
2           ripple    xrp           XRP                3   11595223451
3     bitcoin-cash    bch  Bitcoin Cash                4    5547498517
4         litecoin    ltc      Litecoin                5    4637720084
5      binancecoin    bnb  Binance Coin                6    4049070249
6              eos    eos           EOS                7    3657462538
7           tether   usdt        Tether                8    3557215954
8  bitcoin-cash-sv    bsv    Bitcoin SV                9    2404872101
9          cardano    ada       Cardano               10    1555260845

## Make a csv called 'top_ten_report.csv' and check that it worked

In [68]:
currencies.to_csv(path_or_buf = '/Users/sofiacostadesousa/Desktop/Ironhack/26.08/lab-coingecko-api/top_ten_report.csv')